/STM32CubeIDE_workspace/breathalyzer_nucleo/build
/STM32CubeIDE_workspace/breathalyzer_nucleo/build
/STM32CubeIDE_workspace/breathalyzer_nucleo/build
/STM32CubeIDE_workspace/breathalyzer_nucleo/build
/STM32CubeIDE_workspace/breathalyzer_nucleo/build
